body {
    font-family: 'Roboto Slab', serif;
}

/*---------------------------------------------Container*/

.callout-container {
    height: 100vh;
    background: url(../images/riding-high-background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.lessons-callout-container {
    height: 100vh;
    background: url(../images/white-horse.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.accessories-callout-container {
    height: 100vh;
    background: url(../images/accessories2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.contact-callout-container {
    height: 100vh;
    background: url(../images/for-big-and-small1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

.callout-container-info {
    float: right;
    margin: 480px 30px 10px;
    background-color: #bcdaf7;
}

.container-wrapper {}

.container-wrapper--blue {
    background-color: #bcdaf7;
}

/*.contactus-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}*/
.map-container {
    display: flex;
    width: 290px;
    padding-right: 05px;
    padding-left: 05px;
    margin-right: 0px;
    margin-left: 05px;
}

/*--------------------------------------------Navbar*/

.navbar-container {
    position: absolute;
    top: left;
    right: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: #bcdaf7;
    padding: 0;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-brand {
    color: black;
    font-weight: bold;
    text-align: right;
    font-size: 30px;
    margin-left: 0.5rem;
    padding-left: 8px;
}

.navbar-nav .nav-link {
    color: black;
    padding-left: 60px;
    font-weight: bold;
    margin-left: 50px;
}

.navbar-dark .navbar-nav .active.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link {
    color: black;
}

/*---------------------------------------------Box*/

.col {
    margin-left: 15px;
    margin-right: 15px;
}

.mark,
mark {
    background-color: #80b9f0;
    margin-left: 45px;
    margin-right: 45px;
}

.features-container {}

.features h3 {
    font-size: 1.9rem;
}

.features h4 {
    font-size: 1.5rem;
    margin-left: 18px;
}

.quotes-container {}

.quotes p {
    background-color: #bcdaf7;
    margin-left: 15px;
    margin-right: 15px;
}

/*--------------------------------Page Header*/

.page-header {
    margin-top: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h2 {
    background-color: #bcdaf7;
    margin-top: 0;
}

.page-header h3 {
    margin-top: 0;
}

/*-------------------------------------Block dividers */

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #444;
}

.block-divider--short {
    width: 35px;
}

/*---------------------------------------Content Containers*/

.content-container {
    padding-top: 35px;
    padding-bottom: 35px;
}

/*-----------------------------------Media*/

.media p {
    margin-left: 20px;
}

.media span {
    font-weight: bold;
}

.media h3 {
    margin-left: 20px;
}

/*-----------------------------------------Footer*/
.footer h6 {
    text-align: center;
}

.social-networks {
    text-align: center;
    padding-inline-start: 0;
    margin-bottom: 0;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 0;
    padding: 1%;
    color: #777777;
}

.quotes {
    text-align: center;
    margin-bottom: 40px;
}

/*--------------------------------------------Lessons Container*/

.lessons h4 {
    font-size: 1.5rem;
    margin-left: 18px;
}

/*------------------------------------------Video Container*/
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  

video {
    text-align: center;
}

.video-container .content-container {
    padding-top: 20px;
    padding-bottom: 30px;
}

.video p {
    text-align: center;
}

/*-------------------------------------------Accessories*/

.accessories-container {}

/*--------------------------------------------Newsletter*/

.newsletter {
    text-align: center;
}

.form-group {
    text-align: center;
    margin-left: 5rem;
    margin-right: 5rem;
}

.newsletter .form-control {
    width: 50%;
    margin-left: 25%;
}

/*-------------------------------------------Contact */

.contact-info {
    float: left;
}

.contact-info h4 {
    text-align: center;
}


.contact-form {
    width: 270px;
    padding-right: 05px;

    margin-right: 0px;

}

.contact-address {
    text-align: center;
    width: 200px;
    margin-left: 5px;
}



.contact-details {
    text-align: center;
    width: 200px;
    margin-left: 5px;

}

.contact-email {
    text-align: center;
    width: 200px;
    margin-left: 5px;
}

.btn-info {
    margin-left: 0px;
}

#gmap_canvas {
    width: 300px;
    height: 206px;


}

.final-media img {
    margin-top: -50px;
    margin-bottom: 35px;
    margin-left: -5px;
}

/* Small devices (landscape phones, 330px and below)*/
@media (max-width: 300px) {

    .navbar-light .navbar-brand {
        font-size: 1.65rem;
        padding-left: 0px;
    }

    .h2,
    h2 {
        font-size: 1.6rem;
    }

    .h3,
    h3 {
        font-size: 1.5rem;
    }

    .img {
        width: 170px;
        margin-left: 16px;
    }

    .features h3,
    .page-header h3 {
        font-size: 1.7rem;
    }

    .features h4,
    .media h3 {
        font-size: 1.2rem;

    }

    .features p,
    .quotes p,
    .newsletter p,
    .social-networks,
    .footer h6 {
        font-size: 12px;
    }

    .lessons h4 {
        font-size: 1.2rem;
        margin-left: 18px;
    }

    .video p {
        font-size: 13px;
    }

    .html5-video-player:not(.ytp-transparent),
    .html5-video-player.unstarted-mode,
    .html5-video-player.ad-showing,
    .html5-video-player.ended-mode,
    .html5-video-player.ytp-fullscreen {
        background-color: #000;
        width: 300px;
        height: 456px;
    }

    #element.style {
        width: 390px;
    }

    .newsletter .form-control {
        padding-left: 5px;
        padding-right: 5px;
        width: 107px;
        height: 38px;
        margin-left: 5px;
    }

    #gmap_canvas {
        width: 250px;
        height: 206px;
    }

    .contact-form {
        width: 250px;
        padding-right: 05px;
        margin-right: 0px;
    }
}

/* Small devices (landscape phones, 576 and below)*/
@media (max-width: 576px) {

    .navbar-light .navbar-brand {
        font-size: 1.7rem;
    }

    .h2,
    h2 {
        font-size: 1.7rem;
    }

    .h3,
    h3 {
        font-size: 1.5rem;
    }


    .img {
        width: 180px;
        margin-left: 16px;
    }

    .features h3,
    .page-header h3 {
        font-size: 1.5rem;
    }

    .features h4 {
        font-size: 1.3rem;
    }

    .features p,
    .media p,
    .quotes p,
    .newsletter p,
    .social-networks,
    .footer h6 {
        font-size: 13px;
    }

    .lessons h4 {
        font-size: 1.3rem;
    }

    .video p {
        font-size: 13px;
    }

    .html5-video-player:not(.ytp-transparent),
    .html5-video-player.unstarted-mode,
    .html5-video-player.ad-showing,
    .html5-video-player.ended-mode,
    .html5-video-player.ytp-fullscreen {
        background-color: #000;
        width: 550px;
        height: 456px;
    }

    #element.style {
        width: 550px;
    }

    .newsletter .form-control {
        width: 176px;
        padding-left: 43px;
        padding-right: 15px;
    }
}

/*Medium devices (tablets, from 577 to 768px)*/
@media (min-width: 577px) and (max-width: 768px) {

    .h2,
    h2 {
        font-size: 1.7rem;
    }

    .h3,
    h3 {
        font-size: 1.6rem;
    }

    .img {
        width: 180px;
        margin-left: 16px;
    }

    .features h3,
    .page-header h3 {
        font-size: 1.6rem;
    }

    .features h4 {
        font-size: 1.5rem;
    }

    .features p,
    .media p,
    .quotes p,
    .newsletter p,
    .social-networks,
    .footer h6 {
        font-size: 14px;
    }

    .lessons h4 {
        font-size: 1.4rem;
    }

    .video p {
        font-size: 14px;
    }

    .html5-video-player:not(.ytp-transparent),
    .html5-video-player.unstarted-mode,
    .html5-video-player.ad-showing,
    .html5-video-player.ended-mode,
    .html5-video-player.ytp-fullscreen {
        background-color: #000;
        width: 550px;
        height: 456px;
    }

    #element.style {
        width: 550px;
    }
}

/*Large devices (tablets, from 768 to 992px)*/
@media (min-width: 768px) and (max-width: 992px) {

    .h2,
    h2 {
        font-size: 1.8rem;
    }

    .img {
        width: 180px;
        margin-left: 16px;
    }

    .features h3,
    .page-header h3 {
        font-size: 1.7rem;
    }

    .features h4 {
        font-size: 1.6rem;
    }

    .features p,
    .media p,
    .quotes p,
    .social-networks,
    .footer h6 {
        font-size: 14px;
    }

    .lessons h4 {
        font-size: 1.4rem;
    }

    .video p {
        font-size: 14px;
    }

    .html5-video-player:not(.ytp-transparent),
    .html5-video-player.unstarted-mode,
    .html5-video-player.ad-showing,
    .html5-video-player.ended-mode,
    .html5-video-player.ytp-fullscreen {
        background-color: #000;
        width: 550px;
        height: 456px;
    }

    #element.style {
        width: 550px;
    }
}

/* Extra Large devices (desktops, 1200px and below)*/
@media (min-width: 993px) and (max-width: 1200px) {

    .h2,
    h2 {
        font-size: 1.9rem;
    }

    .img {
        width: 180px;
        margin-left: 0;
    }

    .features h3,
    .page-header h3 {
        font-size: 1.8rem;
    }

    .features h4 {
        font-size: 1.7rem;
        margin-left: 0;
    }

    .media p {
        margin-left: 0;
    }

    .features p,
    .media p,
    .quotes p,
    .social-networks,
    .footer h6 {
        font-size: 16px;
    }

    .lessons h4 {
        font-size: 1.5rem;
    }

    .video p {
        font-size: 15px;
    }
}