body {
    font-family: 'Roboto Slab', serif;
}

/*---------------------------------------------Container*/

.callout-container {
    height: 100vh;
    background: url(../images/riding-high-background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.lessons-callout-container {
    height: 100vh;
    background: url(../images/white-horse.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.accessories-callout-container {
    height: 100vh;
    background: url(../images/accessories2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.contact-callout-container {
    height: 100vh;
    background: url(../images/for-big-and-small1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

.callout-container-info {
    float: right;
    margin: 480px 30px 10px;
    background-color: #bcdaf7;
}

.container-wrapper {}

.container-wrapper--blue {
    background-color: #bcdaf7;
}

.container .form-control {
    width: 360px;
    margin-left: 40px;
}

.contactus-container {
    display: flex;
}

/*--------------------------------------------Navbar*/

.navbar-container {
    position: absolute;
    top: left;
    right: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: #bcdaf7;
    padding: 0;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-brand {
    color: black;
    font-weight: bold;
    text-align: right;
    font-size: 30px;
    margin-left: 0.5rem;
    padding-left: 8px;
}

.navbar-nav .nav-link {
    color: black;
    padding-left: 60px;
    font-weight: bold;
    margin-left: 50px;
}

.navbar-dark .navbar-nav .active.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link {
    color: black;
}

/*---------------------------------------------Box*/

.col {
    margin-left: 15px;
    margin-right: 15px;
}

.mark,
mark {
    background-color: #80b9f0;
    margin-left: 45px;
    margin-right: 45px;
}

.features-container {}

.features h3 {
    font-size: 1.9rem;
}

.features h4 {
    font-size: 1.5rem;
    margin-left: 18px;
}

.quotes-container {}

.quotes p {
    background-color: #bcdaf7;
    margin-left: 15px;
    margin-right: 15px;
}

/*--------------------------------Page Header*/

.page-header {
    margin-top: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h2 {
    background-color: #bcdaf7;
    margin-top: 0;
}

.page-header h3 {
    margin-top: 0;
}

/*-------------------------------------Block dividers */

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #444;
}

.block-divider--short {
    width: 35px;
}

/*---------------------------------------Content Containers*/

.content-container {
    padding-top: 35px;
    padding-bottom: 35px;
}

/*-----------------------------------Media*/

.media p {
    margin-left: 20px;
}

.media span {
    font-weight: bold;
}

.media h3 {
    margin-left: 20px;
}

/*-----------------------------------------Footer*/
.footer h6 {
    text-align: center;
}

.social-networks {
    text-align: center;
    padding-inline-start: 0;
    margin-bottom: 0;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 0;
    padding: 1%;
    color: #777777;
}

.quotes {
    text-align: center;
    margin-bottom: 40px;
}

/*--------------------------------------------Lessons Container*/

.lessons h4 {
    font-size: 1.5rem;
    margin-left: 18px;
}

/*------------------------------------------Video Container*/
.video {
    text-align: center;
}

.video-container .content-container {
    padding-top: 20px;
    padding-bottom: 30px;
}

.video p {
    text-align: center;
}

/*-------------------------------------------Accessories*/

.accessories-container {}

/*--------------------------------------------Newsletter*/

.newsletter {
    text-align: center;
}

.form-group {
    text-align: center;
    margin-left: 5rem;
    margin-right: 5rem;
}

.newsletter .form-control {
    width: 50%;
    margin-left: 25%;
}

/*-------------------------------------------Contact */

.contact-info {
    float: left;
}

.contact-info h4 {
    text-align: center;
}

.contact-address {
    text-align: center;
    width: 200px;
    margin: 0;
}

.contact-details {
    text-align: center;
    width: 200px;
   float: left;
    margin-top: -90px;
    margin-left: 400px;
}

.contact-email {
    text-align: center;
    width: 200px;
    margin-top: -90px;
    margin-left: 700px;
}

.contact-form {

    width: 480px;
    margin-top: -320px;
    margin-left: 550px;
}

textarea.form-control {
    height: 150px;
}

.btn-info {
    margin-left: 40px;
}

#gmap_canvas {
    width: 450px;
    height: 306px;
}

.final-media img {
    margin-top: -50px;
    margin-bottom: 35px;
}

/* Small devices (landscape phones, 480px and below)
@media  (min-width: 320px) and (max-width: 480px) {

    .h2,
    h2 {
        font-size: 1.8rem;
    }

    .img {
        width: 170px;
    }

    .features h3 {
        font-size: 1.5rem;
    }

    .features h4 {
        font-size: 1.2rem;
    }

    .features p {
        font-size: 12px;
    }

    .page-header h3 {
        font-size: 1.5rem;
    }

    .quotes p {
        font-size: 12px;
    }

    .social-networks {
        font-size: 12px;
    }

    .footer h6 {
        text-align: center;
        font-size: 12px;
    }

    .lessons h4 {
        font-size: 1.2rem;
    }

    .media p {
        font-size: 12px;
    }

    .video p {
        font-size: 12px;
    }

    .media h3 {
        font-size: 1.2rem;
    }

    .newsletter p {
        font-size: 14px;
    }
}
    /* Small devices (landscape phones, 481px and up)
    @media (max-width: 766px) {

        .h2,
        h2 {
            font-size: 1.9rem;
        }

        .img {
            vertical-align: middle;
            border-style: none;
            width: 180px;
        }

        .features h3 {
            font-size: 1.7rem;
        }

        .features h4 {
            font-size: 1.4rem;
            margin-left: 18px;
        }

        .media p {
            margin-left: 20px;
            font-size: 14px;
        }
    }
        .page-header h3 {}

        .quotes p {}

        .social-networks {}

        .footer h6 {}

        /* .lessons h4 {
        font-size: 1.2rem;
    }

    .media p {
        font-size: 12px;
    }

    .video p {
        font-size: 12px;
    }

    .media h3 {
        font-size: 1.2rem;
    }

    .newsletter p {
        font-size: 14px;
    }

    
    

    /*Medium devices (tablets, 768px and up)
        @media (min-width: 768px)and (max-width: 1200px) {
            .h2,
            h2 {
                font-size: 1.9rem;
            }
        
            .img {
                width: 170px;
            }
        
            .features h3 {
                font-size: 1.5rem;
            }
        
            .features h4 {
                font-size: 1.2rem;
            }
        
            .features p {
                font-size: 14px;
            }
        
            .page-header h3 {
                font-size: 1.5rem;
            }
        
            .quotes p {
                font-size: 12px;
            }
        
            .social-networks {
                font-size: 12px;
            }
        
            .footer h6 {
                text-align: center;
                font-size: 12px;
            }
        } 

    /* Large devices (desktops, 992px and up)
        @media (min-width: 992px) {
            .features h4 {
                font-size: 24px;
            }
        } */


        /* Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {}